{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section class="section">
  <div class="container text-center">
    <h2 class="fw-bold mb-5">About Me</h2>
    <div class="contact-card-neon mx-auto">
      <p>
        سلام! من کیارش سیدمحمدی هستم، کارآموز Django و Python. دوره‌های مختلف Django و Python را گذرانده‌ام و هم‌اکنون در حال تمرین و ساخت پروژه‌های واقعی برای افزایش تجربه عملی هستم. علاقه‌مندم پروژه‌هایی بسازم که کاربردی و حرفه‌ای باشند و مهارت‌هایم را به چالش بکشند.
      </p>
    </div>
  </div>
</section>
{% endblock %}
